.menu-restaurant-panels {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid #e5edef;
  border-radius: 4px;
}

.modal-edit__menu {
  .ceu-campo__text-round2 {
    p {
      color: $principal;
      margin: 0 0 5px 0;
      font-weight: 500;
    }
  }
}

.modal-ceu__menu-restaurant {
  display: flex;
  .menu-restaurant__content {
    padding: 20px;
    width: 100%;
  }
}

.menu-restaurant__panel {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5edef;
  min-height: 80vh;
  &:last-child {
    border: none;
  }
}

.menu-restaurant__panel-title {
  padding: 12px 15px;
  border-bottom: 1px solid #e5edef;
  h5 {
    font-family: $font2;
    color: $principal;
    font-size: 18px;
    margin: 0;
  }
}

.menu-restaurant__panel-list {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  &.platos {
    .menu-restaurant__panel-item {
      padding-right: 15px;
    }
  }
}

.menu-restaurant__panel-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5edef;
  border-right: 3px solid #fff;
  height: 50px;
  padding: 0 0 0 5px;
  &.active {
    border-right-color: $principal;
    .menu-restaurant__panel-arrow,
    .menu-restaurant__panel-nombre {
      color: $principal;
      font-weight: 500;
    }
  }
}

.menu-restaurant__panel-item-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu-restaurant__panel-edit-delete {
  display: flex;
}

.menu-restaurant__panel-delete,
.menu-restaurant__panel-edit {
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 10px;
  margin: 0 3px;
  border-radius: 50%;
}

.menu-restaurant__panel-delete {
  background-color: #ff6767;
}

.menu-restaurant__panel-edit {
  background-color: $principal;
}

.menu-restaurant__panel-nombre {
  flex: 1;
  padding: 8px 10px;
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden;
}

.menu-restaurant__panel-arrow {
  padding: 8px 15px;
  font-size: 20px;
  cursor: pointer;
}

.menu-restaurant__panel-btn {
  background-color: $principal;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: all .3s;
  &.disable {
     background-color: #aaaaaa;
     cursor: not-allowed;
     &:hover {
      background-color: #aaaaaa;
     }
  }
  &:hover {
    background-color: #50e3c2;
  }
}

.menu-restaurant__edit {
  display: block;
  padding-bottom: 30px;
  overflow-y: auto;
}

.menu-restaurant__edit-title {
  padding: 20px 15px 0px 15px;
}

.menu-restaurant__edit-description {
  padding: 0 15px;
}

.menu-restaurant__edit-precios {
  display: flex;
  flex-wrap: wrap;
}

.menu-restaurant__todo {
  padding: 0 15px;
  h3 {
    color: $principal;
    margin: 15px 0 10px 0;
  }
}

.menu-restaurant__todo-search {
  display: flex;
}

.menu-restaurant__todo-options {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.menu-restaurant__todo-add,
.menu-restaurant__todo-edit,
.menu-restaurant__todo-delete {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 3px;
  font-size: 14px;
}

.menu-restaurant__todo-add {
  background-color: $principal;
  font-size: 19px;
}

.menu-restaurant__todo-edit {
  background-color: #50e3c2;
}

.menu-restaurant__todo-delete {
  background-color: #f56a6a;
}

.menu-restaurant__todo-list {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0 0 0 15px;
  li {
    font-size: 14px;
    margin-bottom: 5px;
    span {
      color: $principal;
      cursor: pointer;
      font-size: 18px;
    }
  }
}

.menu-restaurant__todo-footer { 
  margin-top: 20px;
  font-weight: 500;
  text-decoration: underline;
  color: $principal;
  cursor: pointer;
}

// modales
.menu-restaurant__add-title {
  padding: 20px 15px 10px 15px;
}

.menu-restaurant__add-description {
  padding: 0 15px 10px 15px;
}

.menu-restaurant__text,
.menu-restaurant__days {
  padding: 0 15px;
  margin-bottom: 20px;
}

.menu-restaurant__add-footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

// promo
.menu-restaurant__promo-container {
  display: flex;
  padding: 20px 40px;
}

.menu-restaurant__promo-type {
  p {
    color: $principal;
    margin: 0 0 5px 0;
    font-weight: 500;
  }
}

.menu-restaurant__payments {
  h3 {
    font-family: $font2;
    color: $principal;
    font-size: 16px;
    margin: 20px 0 20px 0;
    text-decoration: underline;
  }
}

.menu-restaurant__payments-radio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .lista-radio3 {
    label {
      font-size: 14px;
    }
  }
}

// addons
.modal-addAddons {
  p {
    font-size: 20px;
    color: $principal;
    margin: 0 0 10px 0;
    font-weight: 500;
  }
  .ceu-campo__text-round2 {
    margin-bottom: 30px;
  }
}

// modificador
.modal-ceu__menu-modifier {
  .menu-restaurant__content {
    padding: 20px 30px;
  }
  h4, h3 {
    padding: 0 15px;
    margin: 0;
    margin: 15px 0 15px 0;
  }
  h4 {
    margin-top: 30px;
  }
}

.menu-restaurant__modifier-title {
  padding: 0 15px;
}

.menu-restaurant__modifier-multiselect {
  margin-bottom: 15px;
  p {
    color: $principal;
    margin: 0 0 10px 0;
    font-weight: 500;
  }
  .admin-tabla__turno-checkbox label {
    width: 70px;
  }
}

.restaurant-menu__modifier-addons-add {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-menu__modifier-addons-list {
  .ceu-campo__text-round2 {
    margin-bottom: 0;
  }
}

.restaurant-menu__modifier-addons-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5edef;
  margin-bottom: 15px;
  padding-bottom: 15px;
  &:last-child {
    border: none;
  }
}

.restaurant-menu__modifier-addon-name {
  display: flex;
  align-items: center;
  font-size: 18px;
}