.restaurant-edit {
  color: $principal;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.admin-restaurant__tabla {
  width: 100%;
  padding: 30px 40px 40px 40px;
}

.admin-restaurant__config {
  margin-bottom: 30px;
  display: inline-block;
  h3 {
    color: $principal;
    margin: 0 0 15px 0;
  }
}

.admin-restaurant__config-menu {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e5edef;
}

.admin-restaurant__config-item {
  padding: 15px 20px;
  border-right: 1px solid #e5edef;
  cursor: pointer;
  font-size: 14px;
  transition: all .3s;
  &:active {
    color: #000;
  }
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-right: none;
    border-radius: 0 4px 4px 0;
  }
  &:hover,
  &.router-link-exact-active {
    background-color: $principal;
    color: #fff;
    text-decoration: none;
  }
}