.cuenta__main{
  display: flex;
  padding: 20px 40px;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #f7f7f7;
  min-width: $anchomin;
}

.cuenta__sidebar {
  min-width: 245px;
  flex-basis: 245px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e5edef;
  padding: 20px;
  margin-right: 30px;
}

.cuenta__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  h3 {
    font-family: $font1;
    color: #4a4a4a;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}

.cuenta__opciones {
  margin-top: 20px;
}

.cuenta__opcion-item {
  border-top: 1px solid #e5edef;
  a {
    font-family: $font1;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 20px;
    display: block;
    padding: 12px 0;
    transition: all .3s;
  }
  &.activo,
  &:hover {
    a {
      color: $principal;
    }
  }
}


.cuenta__configuracion {
  width: 940px;
  min-width: 940px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e5edef;
  padding: 30px;
}