.invoice-number {
  width: 112px;
  border-radius: 50px 0px 0px 50px;
  background: #5B5B5F80;


  font-family: Inter;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.factura-number {
  color: #5B5B5F;
}

.filters {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  img {
    margin-left: 1%;
    width: 100px;
    height: 100px;
  }
}

.loans {
  padding-left: 30px;
  padding-right: 30px;

  .loans_item {
    // border: 1px solid #A0A0A0;
    border-radius: 50px 20px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;

    .loans_item-info-photo {
      margin-left: 3%;
      width: 4%;
      height: 70%;
    }

    .loans_item-employer-info {
      width: 15%;
      display: flex;
      flex-direction: column;
      margin-left: 1%;

      span:nth-child(1) {
        font-weight: 420;
      }

      span:nth-child(2) {
        font-size: 13px;
      }

      span:nth-child(3) {
        font-size: 13px;
      }

      img {
        margin-right: 8%;
      }
    }

    .employers_index-item-celu {
      width: 4%;
      height: 70%;
    }

    .green {
      width: 7%;
      height: 60%;
    }

    .loans_item-price {
      width: 15%;
      color: #5B5B5F;

      font-size: 25px;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: initial;
    }
  }
}

.main-info {
  height: 100%;
  width: 100%;
  margin-left: 2%;

  .main-info-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1%;
    height: 9%;

    #main-info-span {
      font-size: 25px;
      color: red;
      font-weight: 430;
      margin-left: 3%;
    }

    .showPay {
      width: 100px;
      height: 70px;
      margin-left: 10px;
    }
  }  

  img {
    width: 8%;
    height: 55%;
  }

  .main-loan-info {
    height: 100%;
  }
}

.loans_item-grey-text {
  height: 100%;
  width: 24%;
  background-color: #8080803b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: grey;
  padding-top: 0.3%;
  margin: 0 0.2% 0 0.2%;

  span:nth-child(1) {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  span:nth-child(2) {
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #5B5B5F;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.loans_item-rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding-top: 0.3%;
  margin: 0 0.2% 0 0.2%;

  span:nth-child(1) {
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 100%;
    height: 20%;
  }

  span:nth-child(2) {
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #C03040;
  }

}

.close-status {
  background-color: #ff000029;
}

.open-status {
  background-color: #b6f0b6;
}

#period {
  width: 25%;
}

.main_loan-table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 1em 1em;

  th {
    width: 5%;
  }

  tr {
    margin-bottom: 5%;
  }

  td {
    background-color: #80808029;
    text-align: center;
  }

  #dedito {
    width: 20%;
    height: 55%;
  }
  
  .dedito {
    background-color: white;
  }

  .red {
    color: red;
  }
}




.filter-invoices {
  height: 0%;
  margin-left: 1%;
}


.header-invoice {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: space-around;
}


.state-info {
  border-radius: 38px;
  background-color: #FFE3E3;
  height: 29px;
  width: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #C03040;
}


.invoice-state {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;


  span {
    color: #FF0000;
  }
}


.invoice-id {
  border-radius: 38px;
  background-color: #FEFEFE;
  height: 29px;
  width: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #5B5B5F;
}



.invoice-data {
  background-color: #E8E8E8;
  height: 10%;
}


.invoice-info {
  height: 5%;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  padding: 1%;


  div {
    padding-left: 3px;
  }
}



.invoice-payments {
  height: 70%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}


.table-info {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}


.payments {
  display: flex;
  jusify-content: center;
}

