.filters {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  img {
    margin-left: 1%;
    width: 100px;
    height: 100px;
  }
}

.loans {
  padding-left: 30px;
  padding-right: 30px;

  .loans_item {
    // border: 1px solid red;
    height: 9%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;

    .loans_item-info-photo {
      margin-left: 3%;
      width: 4%;
      height: 70%;
    }

    .loans_item-employer-info {
      width: 15%;
      display: flex;
      flex-direction: column;
      margin-left: 1%;

      span:nth-child(1) {
        font-weight: 420;
      }

      span:nth-child(2) {
        font-size: 13px;
      }

      span:nth-child(3) {
        font-size: 13px;
      }

      img {
        margin-right: 8%;
      }
    }

    .employers_index-item-celu {
      width: 4%;
      height: 70%;
    }

    .green {
      width: 7%;
      height: 60%;
    }

    .loans_item-price {
      width: 15%;
      color: red;
      font-size: 25px;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: initial;
    }
  }
}

.main-info {
  height: 100%;
  width: 100%;
  margin-left: 2%;

  .main-info-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1%;
    height: 9%;

    #main-info-span {
      font-size: 25px;
      color: red;
      font-weight: 430;
      margin-left: 3%;
    }

    .showPay {
      width: 100px;
      height: 70px;
      margin-left: 10px;
    }
  }  

  img {
    width: 8%;
    height: 55%;
  }

  .main-loan-info {
    height: 100%;
  }
}

.loans_item-grey-text {
  height: 100%;
  width: 15%;
  background-color: #8080803b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: grey;
  padding-top: 0.3%;
  margin: 0 0.2% 0 0.2%;

  span:nth-child(1) {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  span:nth-child(2) {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000a1;
    font-weight: 450
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.loans_item-rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 6%;
  height: 100%;
  background-color: #ff000029;
  padding-top: 0.3%;
  margin: 0 0.2% 0 0.2%;

  span:nth-child(1) {
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 100%;
    height: 20%;
  }

  span:nth-child(2) {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bolder;
    width: 50%;
  }
}

#period {
  width: 15%;
}

.main_loan-table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 1em 1em;

  th {
    width: 5%;
  }

  tr {
    margin-bottom: 5%;
  }

  td {
    background-color: #80808029;
    text-align: center;
  }

  #dedito {
    width: 20%;
    height: 55%;
  }
  
  .dedito {
    background-color: white;
  }

  .red {
    color: red;
  }
}


.notes {
  display: flex;
  flex-direction: column;
  height: 100%;


  textarea {
    height: 50%;
  } 
}
