
#app {
  background-image: url('../assets/images/background/INSUMOS_Diseño app empleados y préstamos_1.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.main__app {
  width: 100vw;
  height: 100vh;
  display: relative;
  background-color: white;
  width: 70%;
  margin: auto;
}

.mainImage {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/main-view/INSUMOS_Diseño app empleados y préstamos_5.png');
  background-size: cover;
  background-position: left bottom;
  margin-top: 2%;
}

.mainInfo {
  height: 77%;
  width: 100%;
}

.order__menu {
  height: 100vh;
  position: relative;
  top: 0px;
  left: 0px;
  height: 20%;
  width: 100%;
  background-image: url('../assets/images/header/INSUMOS_Diseño app empleados y préstamos_3.png');
  background-size: cover;
  background-position: left bottom;

  .items {
    position: absolute;
    width: 55%;
    height: 20%;
    right: 2%;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    .order__menu-item {
      display: flex;
      width: 20%;
      height: 50px;
      justify-content: flex-start;
      color: gray;
      align-items: flex-end;
      padding: 15px;
      font-size: 0.8em;
    }

    .nav-input {
      height: 70%;
      width: 30%;
    }
  }
}
