.dataTables_wrapper {
  background-color: #fff;
  font-family: $font1;
  padding: 30px;
  border-radius: 8px;
}

table.dataTable {
  thead {
    th {
      border-bottom: 1px solid #696f70;
      color: #4a4a4a;
      position: relative;
      &.admin-tabla__head-editar {
        border-bottom: none;
        background: none;
        cursor: default;
        &:after {
          display: none;
        }
      }
      &.admin-tabla__head-nombre {
        text-align: left;
      }
    }

    .sorting {
      background-image: none;
    }

    .sorting_asc,
    .sorting_desc, {
      position: relative;
      background-image: none;
      &:after {
        color: $principal;
        position: absolute;
        right: 12px;
        top: 50%;
        font-size: 20px;
        transform: translate3d(0, -50%, 0);
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    .sorting_asc {
      &:after {
        content: "\f3d8";
      }
    }
    .sorting_desc {
      &:after {
        content: "\f3d0";
      }
    }
  }
  &.display {
    tbody {
      tr {
        &.odd{
          background-color: #F7F9FA;
          td {
            &.sorting_1 {
              background-color: #EEF0F1;
            }
          }
        }
        &.even {
          background-color: #fff;
          td {
            &.sorting_1 {
              background-color: #F6F6F6;
            }
          }
        }
        td {
          text-align: center;
          border: none;
          padding: 14px 11px;
          font-size: 18px;
          font-weight: 500;
          color: #4a4a4a;
          &.admin-tabla__nombre {
            text-align: left;
          }
          &.admin-tabla__correo {
            font-size: 15px;
            text-align: center;
          }
          &.admin-tabla__editar {
            text-decoration: underline;
            color: $principal;
            font-size: 20px;
            padding: 10px 11px;
            transition: all .3s;
            background-color: #fff;
            text-align: center;
            cursor: pointer;
            width: 40px;
            &:hover {
              color: #404040;
            }
          }
        }
      }
    }
  }
  &.no-footer {
    border-bottom: none;
  }
}

// estilos item topes
.admin-tabla__topes {
  text-align: center;
  p {
    margin: 0 8px 0 0;
    display: inline-block;
  }
}

.admin-tabla__topes-regular {
  display: inline-flex;
}

.admin-tabla__tope-restar,
.admin-tabla__tope-sumar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: #4a4a4a;
  }
}

.admin-tabla__tope-restar {
  background-color: #f27c64;
}

.admin-tabla__tope-sumar {
  background-color: #50e3c2;
}


// rueno

.admin-tabla__turno {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-tabla__turno-checkbox {
  display: inline-block;
  position: relative;
  label {
    display: block;
    width: 90px;
    height: 30px;
    border: 1px solid #e5edef;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    &:after {
      content: attr(data-no);
      position: absolute;
      left: 0;
      top: 0;
      height: 30px;
      background-color: #f56a6a;
      font-size: 15px;
      color: #fff;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      transform: translate3d(0,0,0);
      transition: all .3s;
    }
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    &:checked + label{
      &:after {
        content: attr(data-si);
        background-color: #50e3c2;
        transform: translate3d(70%,0,0);
      }
    }
  }
}

.admin-tabla__head-opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.admin-tabla__agregar {
  button {
    font-family: $font1;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background: #50e3c2;
    border-radius: 30px;
    padding: 5px 25px;
    border: none;
    transition: all .3s;
    margin: 0;
    cursor: pointer;
    &:hover {
    }
    &.dt-button {
      &:hover,
      &:active,
      &:focus {
        &:not(.disabled){
          // es necesario el important al hacer focus muestra un color no agradable
          background: $principal !important;
          border: none;
        }
      }
    }
  }
}

#table_id_filter {
  width: 370px;
  input {
    width: 100%;
    margin: 0;
    border: 1px solid #e5edef;
    border-radius: 6px;
    padding: 8px 10px 8px 33px;
    background-color: #f8f8f8;
    font-size: 18px;
    color: #404040;
    line-height: 18px;
    &:focus {
      outline: none;
    }
  }
  label {
    position: relative;
    &:after {
      content: "\e905";
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translate3d(0,-50%,0);
      font-family: 'ceu' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #9b9b9b;
    }
  }
}

#table_id_length {
  label {
    display: flex;
    align-items: center;
  }
}

.admin-tabla__select-mostrar {
  position: relative;
  border: 1px solid #e5edef;
  border-radius: 6px;
  margin-left: 10px;
  &:after {
    content: "\f3d0";
    color: $principal;
    font-size: 20px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate3d(0, -40%, 0);
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  select {
    border: none;
    padding: 8px 22px 8px 12px;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    color: #404040;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
}

.admin-tabla__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button {
      background: #F7F9FA;
      border: none !important;
      margin: 0;
      border-radius: 0;
      transition: all .3s;
      &.current,
      &:hover {
        background: $principal;
        color: #ffff !important;
      }
      &.current {
        &:hover {
          background: $principal;
          color: #ffff !important;
        }
      }
      &.previous {
        border-radius: 50px 0 0 50px;
      }
      &.next {
        border-radius: 0 50px 50px 0;
      }
    }
  }
}