/*
  * tracker
  */

.tracker__main {
  padding-bottom: 0;
  .checkout__main-item {
    margin-bottom: 40px;
  }
  .checkout__pedido-footer {
    border: none;
  }
}

.tracker__proceso {
  background-color: #f7f7f7;
  border: none;
  .checkout__pedido-lista {
    flex-basis: 255px;
  }
}

.tracker__pedido-lista {
  padding: 0 15px 5px 15px;
  flex: 1 1 250px;
  overflow-y: auto;
}

.tracker__proceso-row {
  display: flex;
  font-family: $font1;
  margin-bottom: 30px;
  &.estado-ok {
    .tracker__proceso-circulo {
      i {
        background-color: $principal;
        border-color: $principal;
      }
    }
    .tracker__proceso-mensaje {
      opacity: 1;
    }
  }
  &.estado-proceso {
    .tracker__proceso-circulo {
      i {
        border: none;
        border-bottom: 2px solid $principal;
      }
    }
  }
}

.tracker__proceso {
  h2 {
    color: #4a4a4a;
    font-size: 30px;
    font-family: $font2;
    font-weight: 500;
    margin: 0 0 35px 32px;
  }
  h4 {
    font-family: $font1;
    font-size: 13px;
    color: #9b9b9b;
    margin: 0 0 0 32px;
    font-weight: 400;
  }
}

.tracker__proceso-hora {
  font-size: 15px;
  min-width: 62px;
  font-weight: 400;
  color: #000000;
  text-align: right;
}

.tracker__proceso-circulo {
  z-index: 20;
  position: relative;
  i{
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  &:after {
    content: '';
    height: 40px;
    width: 1px;
    background-color: #e9e9e9;
    position: absolute;
    left: 50%;
    bottom: 10px;
  }
  i {
    font-size: 7px;
    color: #fff;
  }
}

.tracker__proceso-mensaje {
  opacity: .2;
}

p.tracker__dato-user {
  font-weight: 400;
}

p.tracker__dato-reconoceme {
  margin-top: 8px;
}

.footer__soporte {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  padding-bottom: 40px;
  min-width: $anchomin;
}

.footer__soporte-titulo {
  color: $principal;
  font-family: $font1;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
  i {
    font-size: 30px;
    margin-right: 8px;
  }
}

.footer__soporte-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  border-radius: 5px;
  padding: 11px 12px;
  margin: 0 12px;
  &.azul {
    background-image: linear-gradient(to right, #70e5dc, #6adddf 19%, #5ac8e8 48%, #40a4f7 83%, #3292ff);
    .footer__soporte-img {
      span {
        color: #66d8e1;
      }
    }
    .footer__soporte-contacto {
      i {
        background-image: linear-gradient(162deg, #70e5dc, #6adddf 19%, #5ac8e8 48%, #40a4f7 83%, #3292ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #3292ff;
      }
    }
  }
  &.naranja {
    background-image: linear-gradient(124deg, #f86449, #fa7735 32%, #ffa703 97%, #ffaa00);
    .footer__soporte-img {
      span {
        color: #fa7735;
      }
    }
    .footer__soporte-contacto {
      i {
        background-image: linear-gradient(162deg, #f86449, #fa7735 32%, #ffa703 97%, #ffaa00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #fa7735;
      }
    }
  }
  &.amarillo {
    background-image: linear-gradient(124deg, #fce93a, #fdd528 36%, #ffaa00);
    .footer__soporte-img {
      span {
        color: #ffaa00;
      }
    }
    .footer__soporte-contacto {
      i {
        background-image: linear-gradient(162deg, #fce93a, #fdd528 36%, #ffaa00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #ffaa00;
      }
    }
  }
}

.footer__soporte-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  img {
    max-width: 100%;
  }
  span {
    font-family: $font1;
    font-size: 35px;
    color: #404040;
    font-weight: 500;
  }
}

.footer__soporte-info {
  margin: 0 10px;
  h4 {
    font-family: $font2;
    color: #fff;
    font-size: 16px;
    margin: 0 0 5px 0;
  }
  h5 {
    font-family: $font1;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 8px 0;
  }
  p{
    color: #fff;
    font-size: 13px;
    font-family: $font1;
    margin: 0 0 5px 0;
    &:last-child{
      margin: 0;
    }
  }
}

.footer__soporte-contacto {
  display: flex;
  a {
    width: 38px;
    height: 38px;
    background-color: rgba(#fff, .5);
    color: #404040;
    text-decoration: none;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%,-50%,0);
      width: 30px;
      height: 30px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  i {
    position: relative;
    z-index: 10;
    color: tomato;  
  }
}


.footer__soporte-correo {
  font-family: $font1;
  font-size: 16px;
  color: #696969;
  text-decoration: none;
  margin: 15px 0 0 0;
  &:hover {
    text-decoration: none;
    color: #696969;
  }
}